.flow-wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
}

.border-active {
    border-bottom: 1px solid #edf2f9;
}

.wrapper-app {
    background: white;
    padding: 20px 0px 20px 40px;
    border-radius: 20px;
    width: 65%;

    @media (max-width: 1050px) {
        margin-bottom: 20px;
        width: 90%;
    }
}

.timeline-wrapper {
    background: white;
    padding: 20px 0px 20px 40px;
    border-radius: 20px;
    height: 100%;
    width: 50%;
    margin-left: 15px;

    @media (max-width: 1050px) {
        width: 90%;

    }
}

.file-main {
    display: flex;

    @media (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
    }
}

.file-link-button {
    text-align: right;
    margin-top: -32px;
    color: blue;
}

.link-file {
    margin-left: 30px;
    float: left;
    margin-right: 20px;
    text-decoration: underline;
    text-decoration-color: blue;

    @media (max-width: 700px) {
        margin-left: 0px !important;

    }
}

.link-file-sec {
    margin-left: 30px;
    text-decoration: underline;
    text-decoration-color: blue;
}

.card-file {
    border: 2px solid black;
    height: 435px;
    margin-top: 115px;
    margin-bottom: 30px;

    @media (max-width: 1020px) {
        height: 525px;
        margin-top: 140px
    }

    @media (max-width: 600px) {
        margin-top: 185px
    }
}

.card-label-file {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

.card-checkbox {
    float: left;
    margin-right: 200px;
}

.search-file {
    margin-top: 10px;
    padding: 10px;
}

.card-file-draft {
    border: 3px solid #9fc5f8;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.custom-draft-button {
    text-align-last: end;
}

.textarea-draft {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper-file {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1020px) {
        height: 150px;
    }
}

.draft-file {
    height: 600px;
}

.button-column {
    padding-top: 30px;
}

.forward-button {
    float: right;
}

.save-button {
    margin-top: 30px;
}

.card-document {
    height: 317px;
    margin-top: 30px;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.card-document-column {
    margin-bottom: 20px;
}

.link-view {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
}

.document {
    float: right;
}

.check-mark {
    color: green;
}

.reference-row {
    border: 2px solid black;
    height: 445px;
    margin-top: 800px;
    margin-bottom: 50px;

    @media (max-width: 1020px) {
        border: none;
        margin-top: 0px;
    }
}

.reference-column {
    margin-left: 80px;
    float: left;
    margin-right: 80px;
    text-decoration: underline;
    text-decoration-color: blue;
}

.geo-location {
    height: 200px;
    margin-top: 30px;
}

.geo-column {
    margin-bottom: 20px;
}

.reference {
    float: right;
}

.reference-div {
    margin-top: 30px;
}

.geo-tag {
    margin-top: 20px;

    @media (max-width: 1020px) {
        margin-bottom: 20px;
    }
}

.legacy-section {
    margin-top: 50px;
    margin-bottom: 100px;
    color: red;

    h1 {
        font-size: 19px;
    }

    @media (max-width: 1020px) {
        margin-bottom: 0px;
    }
}

.select-section {
    margin-top: 50px;
}

.label {
    margin-top: -25px;
}

.subject-section {
    margin-top: 50px;
}

.enter-file-section {
    margin-bottom: 50px;
}

.date-picker {
    float: right;

    @media (max-width: 1020px) {
        float: left;
    }
}

.personal_register_view {
    margin-left: 40%;

    @media (max-width: 1020px) {
        margin-left: 0%;
    }
}

.upload-section {
    margin-bottom: 50px;
}

.file-section {
    margin-bottom: 30px;
    margin-top: 30px;
}

.legacy {
    height: 770px;

    @media (max-width: 1020px) {
        height: 1435px;
    }
}

.save-legacy {
    text-align: center;
}

.save-button-drafing {
    margin-right: 30px;
}

.ck-editor__editable {
    min-height: 240px;
}

.draft-editor {
    height: 850px;

    @media (max-width: 1020px) {
        height: 980px;
    }
}

.card-file-draft {
    height: 551px;
}

.mLeft {
    margin-left: 20px;

    @media (max-width: 1020px) {
        margin-left: 0px;
    }
}

.thirdColumn {
    margin-Left: 40px;

    @media (max-width: 1020px) {
        margin-left: 0px;
    }
}

.view-all {
    @media (max-width: 1020px) {
        margin-bottom: 50px;
    }
}

.type {
    @media (max-width: 1020px) {
        margin-bottom: 30px;
    }
}

.enter-file {
    @media (max-width: 1020px) {
        margin-bottom: 30px;
    }
}

.template-id {
    margin-top: 20px;
    margin-left: 240px;

    @media (max-width: 1020px) {
        text-align: center;
        margin: auto;
    }
}

.template-date {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.arising-buttons {
    margin-top: 50px;
}

.arising-card-file {
    height: 400px;
    margin-top: 425px;

    @media (max-width: 1020px) {
        margin-top: 114px;
        height: 468px;
    }

    @media (max-width:600px) {
        margin-top: 0px;
        height: 620px;
    }
}

.arising-searchbox {
    margin-top: 185px;

    @media (max-width: 1020px) {
        margin-top: 0px;
    }

}

.arising-filewrapper {
    height: 1560px;

    @media (max-width: 1020px) {
        height: 1612px;
    }

    @media (max-width: 600px) {
        height: 3225px;
    }
}

.note-wrapper {
    height: 2460px;

    @media (max-width: 600px) {
        height: 3772px;
    }
}

.module-adding {
    margin-top: 40px;

    @media (max-width: 1020px) {
        margin-top: 10px;
    }
}

.module-wrapper {
    height: 270px;

    @media (max-width: 1020px) {
        height: 340px;
    }

    @media (max-width: 600px) {
        height: 520px;
    }
}

.major-wrapper {
    height: 360px;

    @media (max-width: 1020px) {
        height: 440px;
    }

    @media (max-width: 600px) {
        height: 620px;
    }
}

.customSubFunctionTable {
    @media (max-width: 1020px) {
        max-width: 645px;
        overflow-x: scroll;
    }

    @media (max-width: 600px) {
        max-width: 340px;
        overflow-x: scroll;
    }
}

.sub-wrapper {
    height: 340px;

    @media (max-width: 1020px) {
        height: 290px;
    }

    @media (max-width: 600px) {
        height: 695px;
    }
}

.service-wrapper {
    height: 405px;

    @media (max-width: 1020px) {
        height: 361px;
    }

    @media (max-width: 600px) {
        height: 860px;
    }
}