.flow-wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
}

.border-active {
    border-bottom: 1px solid #edf2f9;
}

.wrapper-app {
    background: white;
    padding: 20px 15px;
    border-radius: 20px;

    @media (max-width: 1050px) {
        margin-bottom: 20px;
        width: 90%;
    }
}

.takeActionButtonWrapper {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.timeline-wrapper {
    background: white;
    padding: 20px 15px;
    border-radius: 20px;
    height: 100%;
    width: 50%;
    margin-left: 15px;

    @media (max-width: 1050px) {
        width: 90%;

    }
}

.file-main {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 1050px) {
        flex-direction: column;
        align-items: center;
    }
}

.file-link-button {
    text-align: right;
    margin-top: -32px;
    color: blue;
}

.link-file {
    display: flex;
    align-items: center;
    margin-left: 30px;
    float: left;
    margin-right: 20px;
    text-decoration: underline;
    text-decoration-color: blue;

    @media (max-width: 700px) {
        margin-left: 0px !important;

    }
}

.drafting {
    display: flex;
    align-items: center;
}

.link-file-sec {
    margin-left: 30px;
    text-decoration: underline;
    text-decoration-color: blue;
}

.card-file {
    height: 233px;
    margin-top: 85px;
    margin-bottom: 30px;

    @media (max-width: 1020px) {
        height: 525px;
        margin-top: 140px
    }

    @media (max-width: 600px) {
        margin-top: 197px
    }
}

.notes {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        margin-top: 48px
    }
}

.card-label-file {
    float: left;
    margin-right: 10px;
}

.card-checkbox {
    float: left;
    margin-right: 200px;
}

.search-file {
    margin-top: 10px;
    padding: 10px;
}
.selectNotes {
    display: flex;
    flex-direction: column;
}

.card-file-draft {
    border: 3px solid #9fc5f8;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.button-div {
    display: flex;
    justify-content: space-evenly;
}

.custom-draft-button {
    text-align-last: end;
}

.textarea-draft {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ck-editor__editable_inline {
    max-height: 200px !important;
}

.wrapper-file {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1020px) {
        height: 150px;
    }
}

.draft-file {
    height: 600px;
}

.button-column {
    padding-top: 30px;
}

.forward-button {
    float: right;
}

.save-button {
    margin-top: 30px;
}

.card-document {
    margin-top: 30px;

    h2 {
        text-align: center;
        margin-bottom: 30px;
    }

}

.card-document-column {
    margin-bottom: 20px;
}

.link-view {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
}

.document {
    float: right;
}

.check-mark {
    color: green;
}

.reference-row {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1020px) {
        border: none;
        margin-top: 0px;
    }
}

.reference-column {
    margin-left: 80px;
    float: left;
    margin-right: 80px;
    text-decoration: underline;
    text-decoration-color: blue;
}

.geo-location {
    height: 720px;
    margin-top: 30px;
}

.geo-column {
    margin-bottom: 20px;
}

.reference {
    float: right;
}

.reference-div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.drafting-row {
    display: flex;
    height: 50px;
    flex-direction: row;
}
.draftWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 220px;
    overflow-y: scroll;
}

.geo-tag {
    margin-top: 20px;

    @media (max-width: 1020px) {
        margin-bottom: 20px;
    }
}

.legacy-section {
    margin-top: 50px;
    margin-bottom: 100px;
    color: red;

    h1 {
        font-size: 19px;
    }

    @media (max-width: 1020px) {
        margin-bottom: 0px;
    }
}

.select-section {
    margin-top: 50px;
}

.label {
    margin-top: -25px;
}

.subject-section {
    margin-top: 50px;
}

.enter-file-section {
    margin-bottom: 50px;
}

.date-picker {
    float: right;

    @media (max-width: 1020px) {
        float: left;
    }
}

.personal_register_view {
    margin-left: 40%;

    @media (max-width: 1020px) {
        margin-left: 0%;
    }
}

.upload-section {
    margin-bottom: 50px;
}

.file-section {
    margin-bottom: 30px;
    margin-top: 30px;
}

.legacy {
    height: 770px;

    @media (max-width: 1020px) {
        height: 1435px;
    }
}

.save-legacy {
    text-align: center;
}

.save-button-drafing {
    margin-right: 30px;
}

.ck-editor__editable {
    min-height: 240px;
}

.draft-editor {
    height: 850px;

    @media (max-width: 1020px) {
        height: 980px;
    }
}

.card-file-draft {
    height: auto;
}

.mLeft {
    margin-left: 20px;

    @media (max-width: 1020px) {
        margin-left: 0px;
    }
}

.thirdColumn {
    margin-Left: 40px;

    @media (max-width: 1020px) {
        margin-left: 0px;
    }
}

.view-all {
    @media (max-width: 1020px) {
        margin-bottom: 50px;
    }
}

.type {
    @media (max-width: 1020px) {
        margin-bottom: 30px;
    }
}

.enter-file {
    @media (max-width: 1020px) {
        margin-bottom: 30px;
    }
}

.template-id {
    margin-top: 20px;
    margin-left: 240px;

    @media (max-width: 1020px) {
        text-align: center;
        margin: auto;
    }
}

.template-date {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.arising-buttons {
    margin-top: 50px;
}

.arising-card-file {
    height: 400px;
    margin-top: 425px;

    @media (max-width: 1020px) {
        margin-top: 114px;
        height: 468px;
    }

    @media (max-width:600px) {
        margin-top: 0px;
        height: 620px;
    }
}

.arising-searchbox {
    margin-top: 185px;

    @media (max-width: 1020px) {
        margin-top: 0px;
    }

}

.arising-filewrapper {
    height: 870px;

    @media (max-width: 1020px) {
        height: 796px;
    }

    @media (max-width: 600px) {
        height: 1183px;
    }
}

.note-wrapper {
    height: 2460px;

    @media (max-width: 600px) {
        height: 3772px;
    }
}

.module-adding {
    margin-top: 40px;

    @media (max-width: 1020px) {
        margin-top: 10px;
    }
}

.module-wrapper {
    padding: 25px;

    @media (max-width: 768px) {
        padding-bottom: 50%;
    }

    @media (max-width: 640px) {
        padding-bottom: 50%;
    }

    @media (max-width: 480px) {
        padding-bottom: 75%;
    }

    @media (max-width: 360px) {
        padding-bottom: 85%;
    }
}

.major-wrapper {
    padding: 25px;

    @media (max-width: 768px) {
        padding-bottom: 21%;
    }

    @media (max-width: 640px) {
        padding-bottom: 22%;
    }

    @media (max-width: 480px) {
        padding-bottom: 35%;
    }

    @media (max-width: 360px) {
        padding-bottom: 38%;
    }
}

.customSubFunctionTable {
    @media (max-width: 1020px) {
        max-width: 645px;
        overflow-x: scroll;
    }

    @media (max-width: 600px) {
        max-width: 100%;
        overflow-x: scroll;
    }
}
.sub-wrapper {
    height: 100%;
    padding: 25px;

    @media (max-width: 1020px) {
        height: 290px;
    }

    @media (max-width: 600px) {
        height: 695px;
    }
}

.service-wrapper {
    height: 405px;

    @media (max-width: 1020px) {
        height: 361px;
    }

    @media (max-width: 600px) {
        height: 860px;
    }
}



.cr-wrapper-app {
    background: white;
    padding: 20px 15px;
    border-radius: 20px;
    width: 65%;

    @media (max-width: 1050px) {
        margin-bottom: 20px;
        width: 90%;
    }
}

.cr-timeline-wrapper {
    background: white;
    padding: 20px 15px;
    border-radius: 20px;
    height: 100%;
    width: 34%;
    margin-left: 15px;

    @media (max-width: 1050px) {
        width: 90%;

    }
}

.counter-filewrapper {
    height: 1540px;

    @media (max-width: 1050px) {
        height: 1402px;

    }

    @media (max-width: 600px) {
        height: 2405px;

    }
}

.check-field {
    padding-top: 33px;
}

.applicant {

    color: #0e4685;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #9acd32;
    line-height: .1em;
    margin: 10px 0 20px;
    font-size: 14px;

    @media (max-width: 1050px) {


        color: #0e4685;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #9acd32;
        line-height: .1em;
        margin: 110px 0 20px;
        font-size: 14px;

    }

    @media (max-width: 600px) {


        color: #0e4685;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #9acd32;
        line-height: .1em;
        margin: 150px 0 20px;
        font-size: 14px;

    }
}

.indian {
    float: right;

    @media (max-width: 600px) {
        float: none;

    }
}

.file-radio {
    @media (max-width: 600px) {
        width: 14px;
        height: 14px;
    }
}

/* Slideshow container */
.carousel-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.carousel-slide {
    display: none
}

.carousel-img {
    max-width: auto !important;
    vertical-align: middle;
}

.carousel-prev,
.carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    @apply bg-white;
}

.carousel-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.carousel-prev:hover,
.carousel-next:hover {
    @apply bg-black;
}

.carousel-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.carousel-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.carousel-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    @apply bg-white;

}

.carousel-active,
.carousel-dot:hover {
    color: #fff;
    @apply bg-primary-main;
}

.carousel-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .carousel-prev,
    .carousel-next,
    .carousel-text {
        font-size: 11px
    }
}