.popup-module {
  width: 480px;
  margin: 0 auto;
  @apply bg-white;

  .popup-module-main {
    @apply px-lg pb-lg;
  }

  .popup-module-action-bar {
    gap: 16px;
    @apply flex flex-row justify-end;
  }
}

@screen dt {
  .popup-module {
    width: 480px;
    margin: auto;
    @apply bg-white;

    .popup-module-main {
      @apply px-lg pb-lg;
    }
    .popup-module-main {
      @apply w-full p-sm h-full;
    }

    .popup-module-action-bar {
      gap: 16px;
      @apply flex flex-row justify-end;
    }
  }
}
.modal-container{
  padding: 20px;
} 
.modal-header{
  font-weight: bold;
  margin-bottom: 15px;
}
.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.modal-flex{
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.modal-box{
  margin-bottom: 20px;
}
.modal-label{
  margin-bottom: 10px;
}