### STS ###
.apt_generated
.settings
.classpath
.factorypath
.project
.checkstyle
.eclipse-pmd
.pmd

### maven ###
target/
reports/

### docker ###
docker_data/

### other files ###
spy.log
SearchQueries.sql
smsgwsmsgovin-sep22.cer
egov-workflow-v2-persister.yml
